@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;

}

body {
  background-color: #424642;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 80%;
  display: block;
  background-color: #222831;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 1rem;
  margin: 0 auto 2rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input::placeholder {
  color: #bbb;
}

.user-form input:focus {
  outline: none;
}

.card {
  max-width: 800px;
  background-color: #222831;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 3rem;
  margin: 0 1.5rem;
}

.avatar {
  border-radius: 50%;
  border: 10px solid #424642;
  height: 150px;
  width: 150px;
}

.user-info {
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  width: 80%;
}

.user-info ul li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.user-info ul li strong {
  font-size: 0.9rem;
}

#repos {
  text-align: center;
}
.repo {
  text-decoration: none;
  color: #fff;
  background-color: #343f56;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  position: relative;
  top: 0;
  transition: top ease 0.5s
}

.repo:hover {
  top: -7px;
}

@media (max-width: 780px) {
  form{
    flex-direction: column;
  }
  form button{
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    transform: translate(-50%);
    left: 50%;

    
  }
}
@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
  .user-info ul {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .user-form {
    max-width: 400px;
    margin: 0 auto;
  }
  input{
    margin-top: 200px;
  }
}
form{
  display: flex;
}
form button{
  width: 115px;
  height: 50px;
  background-color: #222831;
  color: white;
  border: 0px;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 5px 10px rgb(154 160 185 / 5%), 0 15px 40px rgb(0 0 0 / 10%);
}

.zoom {
  transition: transform .4s;
}

.zoom:hover {
  transform: scale(1.07);
}